#aside
  %table{:width=>"100%"}
    %tr
      %td
        %p{:style=>"margin-left: 0px"}
          = link_to "Back","/"
      %td
        %p{:style=>"color:#000;"}
          = "Active Citizen Demo"
      %td
        %p{:style=>"color:#777;"}
          = @pages.first.title
      %td
        %p{:style=>"color:#999;"}
          = "double click to select - double click to open - drag - enter next page - shift enter last page"
    - unless true or Rails.env.production?
      %tr
        %td{:colspan=>4}
          %center
            = "Searching: #{@query.gsub("(","").gsub(")","")}"
            %br
            = "Entities: "+@page.all_entities
#container{style: "cursor:pointer"}
:javascript
  var images=[
   #{create_carousel_urls_from_pages(@pages)}
  ];

= javascript_include_tag "carousel.js"
