%table{:width=>"100%"}
  - @source_pages.each do |page|
    %th
      Query
    %th
      Title
    %th
      Entities
    %th
      Keywords
    %th
      Concepts
    %tr
      %td
        %b
          = page[:query]
      %td
        %b
          = page[:web_page].title
      %td
        %b
          = page[:web_page].entities_high_relevance
          = page[:web_page].entities_med_relevance
          = page[:web_page].entities_low_relevance
      %td
        %b
          = page[:web_page].keywords_high_relevance
          = page[:web_page].keywords_med_relevance
          = page[:web_page].keywords_low_relevance
      %td
        %b
          = page[:web_page].concepts_high_relevance
          = page[:web_page].concepts_med_relevance
          = page[:web_page].concepts_low_relevance
      %td
    - page[:hits].each do |hit|
      - #next if hit.url.include?("nhs-citizen")
      %th
        Title
      %th
        Entities
      %th
        Keywords
      %th
        Concepts
      %tr
        %td
          = hit.title
        %td
          =  raw hit.entities_high_relevance if hit.entities_high_relevance
          =  raw hit.entities_med_relevance if hit.entities_med_relevance
          =  raw hit.entities_low_relevance if hit.entities_low_relevance
        %td
          =  raw hit.keywords_high_relevance if hit.keywords_high_relevance
          =  raw hit.keywords_med_relevance if hit.keywords_med_relevance
          =  raw hit.keywords_low_relevance if hit.keywords_low_relevance
        %td
          =  raw hit.concepts_high_relevance if hit.concepts_high_relevance
          =  raw hit.concepts_med_relevance if hit.concepts_med_relevance
          =  raw hit.concepts_low_relevance if hit.concepts_low_relevance

