#aside
  %table{:width=>"100%"}
    %tr
      %td
        %h3{:style=>"margin-left: 0px"}
          = link_to "Back","/"
      %td
        %h1{:style=>"color:#ddd;"}
          = "Active Citizen Demo"
      %td
        %h4{:style=>"color:#999;"}
          = @pages.first.title
      %td
        %h5{:style=>"color:#999;"}
          = "double click to select, double click for live page, drag and enter for next page"
    - unless true or Rails.env.production?
      %tr
        %td{:colspan=>4}
          %center
            = "Searching: #{@query.gsub("(","").gsub(")","")}"
            %br
            = "Entities: "+@page.all_entities
#container{style: "cursor:pointer"}
:javascript
  var images=[
   #{create_carousel_urls_from_pages(@pages)}
  ];

= javascript_include_tag "carousel.js"
