%center
  %h1
    = "Active Citizen Demo"
  %h5
    %em
      = raw "Discover news stories from #{"<a href='https://nhs-citizen.yrpri.org/' target='_blank'>NHS Citizen</a>"} Ideas"
  %p
%hr
%ul.large-block-grid-2
  - @pages.each do |page|
    %li{:style=>"padding-bottom:100px;"}
      = link_to image_tag(page.screenshot.url(:full)), "/experiments/match/#{page.id}"
%hr
%div{:style=>"float:left;width:100%"}
  %center
    = will_paginate @pages, renderer: FoundationPagination::Rails
%hr
%center
  %h4
    %em
      = link_to "Citizens Foundation (c) 2014","http://www.citizens.is"
  %small
    %em
      = link_to "Text Analysis by AlchemyAPI", "www.alchemyapi.com"
